<h1>심심이</h1>
<form action="/chat/create">
  <input type="text" name="content">
  <input type="submit">
</form>
<ul>
  <% Chat.all.each do |c| %>
    <li><%=c.is_man ? "사람" : "컴퓨터" %> : <%=c.content%></li>
  <% end %>
</ul>
